@model SendEmail
@{
    ViewData["Title"] = "Home Page";
}

<body class="body-content mt-5" style="padding-top:35px">
    <section class="pageindex125" style="background-image: url(/images/recpt.jpg); ">
        <div class="container pl-5 ml-5" style="margin-top:-73px">
            <div class="col-12">
                <div class="row">
                    <img id="loading" src="~/images/call-now.png" data-toggle="modal" data-target="#exampleModal">
                    @*<img class="rotate" src="~/images/call-now.png" data-toggle="modal" data-target="#exampleModal" />*@
                    <div class="modal fade " style="margin-top:80px" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content" style="border: 5px solid #ffa700">
                                <div class="modal-header">
                                    <div class="">
                                        <h2 style="color: #ffa700;font-weight:bold"> Name: Rashid Rafique</h2>
                                        <h3 style="color: #ffa700; font-weight: bold"> Phone: +92 300 7568106</h3>
                                        <p style="color: #ffa700">  Please call us for more details</p>
                                    </div>
                                    <button style="margin-top:-20px !important;font-size:30px;font-weight:bold"
                                            type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="auto-container pt-2 mt-2">
            <h1 style="color:gold;font-weight:bolder;font-size:70px">MOVE ON UP</h1>
        </div>
        <div class="auto-container pt-2 mt-3">
            <h2 class=" text-white" style="font-size:30px">We have more than 5 years of experience</h2>
        </div>
        <div class="container pt-5 mt-5">
            <div class="col-12">
                <div class="row" style="color:gold;font-weight:bolder;font-size:70px">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="card " style="">
                            <img src="~/images/BLUE WORLD CITY.png" class="card-img-top" alt="...">
                            <div class="text-center text-white" style="background-color: #ffa700">

                                <h4 class="font-weight-bold text-white">
                                    <a class="text-white" target="_blank" style="text-decoration: none;" asp-area=""
                                       asp-controller="Projects" asp-action="BLUE_WORLD_CITY">BLUE WORLD CITY</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">

                        <div class="card " style="">
                            <img src="~/images/PAK VIEW CITY.png" class="card-img-top" alt="...">
                            <div class="text-center text-white" style="background-color: #ffa700">
                                <h4 class="font-weight-bold text-white">
                                    <a class="text-white" target="_blank" style="text-decoration: none;" asp-area=""
                                       asp-controller="Projects" asp-action="PARK_VIEW_CITY">PAK VIEW CITY</a>
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="card " style="">
                            <img src="~/images/CAPITAL SMART CITY.png" s class="card-img-top" alt="...">
                            <div class="text-center text-white" style="background-color: #ffa700">
                                <h4 class="font-weight-bold text-white">
                                    <a class="text-white" target="_blank" style="text-decoration: none;" asp-area=""
                                       asp-controller="Projects" asp-action="SMART_CITY_ISLAMABAD">CAPITAL SMART CITY</a>
                                </h4>
                                @*<img src="~/images/CAPITAL SMART CITY.png" class="card-img-top" alt="...">
                                <div class="text-center" style="background-color:gold">
                                    <h4 class="font-weight-bold">CAPITAL SMART CITY</h4>
                                </div>*@
                            </div>

                        </div>
                    </div>
                </div>
            </div>

    </section>
    <div class="container-fluid mt-5">
        <div class="row ">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 bg-light">
                <h1 class=" mt-5 p-5 mb-5 text-center" style="font-size:55px;color:gold">
                    Welcome to<br />
                    Blue Reef Real Estate
                </h1>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <img src="~/images/guarantee.png" />
                <img src="~/images/Excellence.png" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <p class=" text-center text-justify" style="font-size: 20px;line-height: 1.8; ">
                    Welcome to the rapidly emerging Real Estate Company Sky 
                    Marketing Islamabad working from last 15 years.Our professional
                    team is serving many housing societies for marketing purposes 
                    and has completed many renowned projects achieving high  excellency.
                    Use of most modern techniques of marketing like e-media and 
                    web-based medium for mass communication is one of our strengths to
                    reach-out maximum number of clients and customers.
                </p>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12">
                <img class="card-img-top" src="~/images/Park-View-City.png" />
            </div> 
        </div>
    </div>

    <div class="container mt-5 bhg">
        <div class="col-12 ">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 pt-5">
                    <img class="card-img-top" src="~/images/house.png" />
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-center">
                    <div class="row mt-5 pt-5">
                        <h1 style="font-size:45px;font-weight:bold">WE ARE 24/7 AVAILABLE</h1>
                    </div>
                    <div class="row ml-5 pl-5">
                        <img class="card-img-top" src="~/images/Sketch-underline-2.png" />
                        <span class=" btn mb-3 w-30 h-30 font-weight-bold mt-5" style="background-color: #f0aa0c;margin-left:100px">
            <a class="" style="color:white;text-decoration:none;font-size:20px" asp-area="" asp-controller="Home" asp-action="ContactUS">Contact Us</a>
        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark mt-5" id="">
        <div class="container">
            <div class="col">
                <div class="row text-center pt-5 mt-5">
                    <div class="col  ">
                        <h1 class="text-center" style="font-size:45px;color:white;font-weight:bold">OUR CURRENT PROJECTS</h1>
                    </div>
                </div>
                <div class="row mt-5  pt-5">
                    <div class="col-lg-4 col-md- col-sm-6">
                        <div class="card " style="">
                            <img src="~/images/CAPITAL SMART CITY.png" class="card-img-top" alt="...">
                            <div class="text-center" style="background-color:gold">
                                @*<h4 class="font-weight-bold">CAPITAL SMART CITY</h4>*@
                                <h4 class="font-weight-bold text-white">
                                    <a class="text-white" target="_blank" style="text-decoration: none;" asp-area=""
                                       asp-controller="Projects" asp-action="SMART_CITY_ISLAMABAD">CAPITAL SMART CITY</a>
                                </h4>
                            </div>
                            @*<h4 class="font-weight-bold text-white">
                                <a class="text-white" target="_blank" style="text-decoration: none;" asp-area=""
                                   asp-controller="Projects" asp-action="BLUE_WORLD_CITY">CAPITAL SMART CITY</a>
                            </h4>*@
                        </div>
                    </div>
                    <div class="col-lg-4 col-md- col-sm-6">
                        <div class="card " style="">
                            <img src="~/images/BLUE WORLD CITY.png" class="card-img-top" alt="...">
                            <div class="text-center" style="background-color:gold">
                                @*<h4 class="font-weight-bold">BLUE WORLD CITY</h4>*@
                                <h4 class="font-weight-bold text-white">
                                    <a class="text-white" target="_blank" style="text-decoration: none;" asp-area=""
                                       asp-controller="Projects" asp-action="BLUE_WORLD_CITY">BLUE WORLD CITY</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md- col-sm-6" style="">
                        <div class="card " style="">
                            <img src="~/images/PAK VIEW CITY.png" class="card-img-top" alt="...">
                            <div class="text-center" style="background-color:gold">
                                <h4 class="font-weight-bold">
                                    <a class="text-white" target="_blank" style="text-decoration: none;" asp-area=""
                                       asp-controller="Projects" asp-action="PARK_VIEW_CITY">PAK VIEW CITY</a>
                                </h4>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row mt-5 mb-5 pb-5">
                    <div class="col-lg-4 col-md- col-sm-6 ">
                        <div class="card " style="">
                            <img src="~/images/NOVA CITY ISLAMABAD.jpg" class="card-img-top" alt="...">
                            <div class="text-center" style="background-color:gold">
                                <h4 class="font-weight-bold">
                                    <a class="text-white" target="_blank" style="text-decoration: none;" asp-area=""
                                       asp-controller="Projects" asp-action="Nova_City_Islamabad">NOVA CITY ISLAMABAD</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md- col-sm-6 ">
                        <div class="card " style="">
                            <img src="~/images/LAHORE SMART CITY.png" class="card-img-top" alt="...">
                            <div class="text-center" style="background-color:gold">
                                <h4 class="font-weight-bold">
                                    <a class="text-white" target="_blank" style="text-decoration: none;" asp-area=""
                                       asp-controller="Projects" asp-action="LAHORE_SMART_CITY">LAHORE SMART CITY</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md- col-sm-6 ">
                        <div class="card " style="">
                            <img src="~/images/RUDN ENCLAVE.png" s class="card-img-top" alt="...">
                            <div class="text-center" style="background-color:gold">
                                <h4 class="font-weight-bold">
                                    <a class="text-white" target="_blank" style="text-decoration: none;" asp-area=""
                                       asp-controller="Projects" asp-action="Rudn_Enclave_Rawalpindi">RUDN ENCLAVE</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bvc">
        <div class="container">
            <div class="col">
                <div class="row text-center pt-5 mt-5">
                    <div class="col">
                        <h1 class="text-center" style="font-size:45px;font-weight:bold">WHY CHOOSE Blue Reef Enterprise...?</h1>
                    </div>
                </div>
                <div class="row  pt-5">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="row">
                            <div class="col-2 pt-2">
                                <i class="far fa-usd-circle pt-3" style="font-size:35px;color:gold"></i>
                            </div>
                            <div class="col-10">
                                <h3 class="">MARKETERS</h3>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-2 pt-4">
                                <i class="far fa-usd-circle" style="font-size:35px;color:gold"></i>
                            </div>
                            <div class="col-10">
                                <h3 class="">INVESTMENT CONSULTANT</h3>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-2 pt-4">
                                <i class="far fa-usd-circle" style="font-size:35px;color:gold"></i>
                            </div>
                            <div class="col-10">
                                <h3 class="">DEALER & PROMOTERS</h3>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-2 pt-4">
                                <i class="far fa-usd-circle" style="font-size:35px;color:gold"></i>
                            </div>
                            <div class="col-10">
                                <h3 class="">DEVELOPERS</h3>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-2 pt-4">
                                <i class="far fa-usd-circle" style="font-size:35px;color:gold"></i>
                            </div>
                            <div class="col-10">
                                <h3 class="">PROPERTY ADVISOR</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="row bg-primary text-center">
                            <div class="col-4 pt-5">
                                <img class="imgborader" src="~/images/Rashid.png" />
                            </div>
                            <div class="col-8 pt-5">
                                <p class="text-justify" style="font-size:16px">
                                    Had taken consultation regarding purchase of property in islamabad for my relatives, thanks to team
                                    skymarketing for making it that simple. Highly recommended..!
                                </p>
                                <p class="text-justify pt-5" style="font-size:36px">
                                    Rashid Rafique
                                </p>
                            </div>


                        </div>
@*                         <div class="row bg-primary mt-5">
                            <div class="col-4 pt-5">
                                <img class="imgborader" src="~/images/sadam.jpeg" />
                            </div>
                            <div class="col-8 pt-5">
                                <p class="text-justify" style="font-size:16px">
                                    Had taken consultation regarding purchase of property in islamabad for my relatives, thanks to team
                                    skymarketing for making it that simple. Highly recommended..!
                                </p>
                                <p class="text-justify pt-5" style="font-size:36px">
                                    Saddam Falak
                                </p>

                        </div>

                    </div> *@
                </div>
                <div class="row mt-5 mb-5">
                    <div class="col-12 text-center">

                        <h1 class="text-center" style="font-size:45px;font-weight:bold">Our clients love us</h1>
                        <h3 class="text-center" style="font-size:25px;font-weight:bold">We have an average of 9.5</h3>
                        <img class="mt-5" src="~/images/Stars.png" />

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bvh">
        <div class="container mb-5 pb-5">
            <div class="col-12 mb-5 pb-5">

                <div class="row pt-5 mt-5">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-5 mt-5">
                        <h1 class="text-center" style="font-size:45px;color:white;font-weight:bold">WE ARE READY TO SERVE YOU IN REAL ESTATE</h1>
                        <hr />
                        <h1 class="text-center" style="font-size:45px;color:white;font-weight:bold">CALL US TODAY</h1>
                        <h1 class="text-center" style="font-size:45px;color:white;font-weight:bold">
                            @*(051) 848-7777<br />*@
                            +92 333-222-2241
                        </h1>
                    </div>
                    <div class="col-xl-4 offset-2 col-lg-4 offset-2 col-md-4 offset-2 col-sm-10 offset-2 col-10 offset-2 bg-dark pt-2 mt-5">
                        <h1 class="text-center" style="font-size:20px;color:white;font-weight:bold">Request for <span style="color:gold"> DISCOUNT</span> Booking</h1>
                        <form class="" method="post" id="formvalidation">
                            <div class="form-group pt-5 ">
                                <input asp-for="@Model.Name" type="text" id="name" class="form-control"
                                       placeholder="Full Name" data-val-required="Please enter the name" required />
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group pt-5">
                                <input asp-for="@Model.MobilePhone" id="phone" type="number" class="form-control"
                                       placeholder="Contact Number" required />
                                <span class="text-danger" asp-validation-for="MobilePhone"></span>
                            </div>
                            <div class="form-group pt-5">
                                <textarea asp-for="@Model.Message" id="message" type="text" class="form-control"
                                          placeholder="Type a Message"
                                          data-val-length="Length must be between 5 to 250"
                                          data-val-length-min="5"
                                          data-val-required="Please enter the your Message"
                                          style="text-align:start end" rows="5" required></textarea>
                                <span class="text-danger" asp-validation-for="Message"></span>
                            </div>
                            <span class="form-group">
                                <button type="submit" id="conatctUsbtn" class="btn w-100 h-30 btn-lg text-center mb-5 mt-5"
                                        style="background-color: #f0aa0c;color: white;font-weight:bold">
                                    Submit
                                </button>

                            </span>
                            @*<span class=" btn mb-3 w-100 h-30 font-weight-bold mt-5 mb-5" style="background-color: #f0aa0c">
                                    <a class="" style="color:white;text-decoration:none;font-size:20px" asp-area="" asp-controller="Home" asp-action="ContactUS">Send</a>
                                </span>*@
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>




<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

<script>

    //const sendContactUs = () => {
    $("#formvalidation").validate({
        rules: {
            "name": {
                required: true
            },
            "phone": {
                required: true
            },

            "message": {
                required: true
            },
        },
        message: {
            "name": {
                required: "Enter Name"
            },
            "phone": {
                required: "Enter phone number"
            },
            "message": {
                required: "Enter Message"
            },
        },
        submitHandler: function (form) {
            debugger
            const name = $("#name").val();
            const phone = $("#phone").val();
            const message = $("#message").val();

            const obj = {
                Name: name,
                MobilePhone: phone,
                Message: message
            };
            $.ajax({
                url: "/ContactUs/AddContactUsData",
                type: "POST",
                dataType: "json",
                data: obj,
                success: (result) => {
                    debugger
                    window.location.reload();
                }
            });
        }
    });
</script>