
@{
    ViewData["Title"] = "Offers";
}

<body class="body-content mt-5 pt-5">

    <div class="container-fluid mt-5 pt-5">
        <div class="col-12 text-center">
            <div class="row">
                <div class="col-12">
                    <h1>
                        <strong>Exclusive Offers</strong>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="col-12">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-11 col-11 p-1">
                    <img src="~/images/offers news1.png" />
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-11 col-11 p-1">
                    <img src="~/images/offers news3.jpg" />
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-11 col-11 p-1">
                    <img src="~/images/offers news2.jpg" />
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-11 col-11 p-1">
                    <img src="~/images/offers news2.jpg" />
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-11 col-11 p-1">
                    <img src="~/images/offers news1.png" />
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-11 col-11 p-1">
                    <img src="~/images/offers news3.jpg" />
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-11 col-11 p-1">
                    <img src="~/images/offers news3.jpg" />
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-11 col-11 p-1">
                    <img src="~/images/offers news1.png" />
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-11 col-11 p-1">
                    <img src="~/images/offers news2.jpg" />
                </div>
            </div>
        </div>
    </div>
</body>