
@{
    ViewData["Title"] = "B17_MULTIGARDENS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<body class="body-content">
    <section class="page" style="background-image: url(/images/MPCHS_header.jpg); ">
        <div class="auto-container pt-5 mt-5">
            <h1 style="color:gold;font-weight:bolder;font-size:70px">B17 MULTI GARDENS</h1>
        </div>

    </section>
    <div class="container mt-5">
        <div class="col-12">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-danger">content table</button>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12">
                            <h2 class="font-weight-bold" style="color:gold">Introduction:</h2>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12">
                            <p class="text-justify" style="font-size:20px">
                                B-17 is a sector of Islamabad, Pakistan, developed by Multi-Professional Cooperative Housing Society (MPCHS).
                                Also known B-17 Multi Gardens, It is a well-known housing society in Islamabad City.
                                It is located in the foot of Margalla Hills.
                                It is an exquisite society that provides its residents with beautiful sceneries and peaceful environment.
                                B-17 Islamabad is an ideal investment opportunity in the current scenario of real estate business
                                in Islamabad due to its location and world-class development.
                                The prices of society have increased to a significant amount, giving the people who had previously invested in the community an advantage.
                            </p>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12">
                            <h2 class="font-weight-bold" style="color:gold">Official Launch:</h2>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12">
                            <p class="text-justify" style="font-size:20px">
                                Multi Gardens was launched in 2004, but the society goes way back with the launch of its
                                first housing project in E-11/3 named Islamabad Gardens in 1989 and E-11/1 in 2001.
                                <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                   asp-controller="Home" asp-action="ICHS_TOWN">ICHS Town</a>
                                was also launched around the same time frame with this project.
                            </p>
                            <p class="text-justify mt-2" style="font-size:20px">
                                Approval of layout plans for the society is per specified rules and regulations of the Capital Development Authority (CDA).
                            </p>
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-12">
                            <h2 class="font-weight-bold" style="color:gold">Location:</h2>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12">
                            <p class="text-justify" style="font-size:20px">
                                B-17 is a newly developing sector located in Zone II of Islamabad Capital Territory.
                                The society is situated as such that it touches the GT Road from one side and Peshawar- Islamabad motorway (M-1) on the other side.
                            </p>
                            <p class="text-justify mt-1" style="font-size:20px">
                                Islamabad International Airport and housing societies such as
                                <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                   asp-controller="Home" asp-action="BLUE_WORLD_CITY"> Blue World City</a>
                                Blue World City and<a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                                      asp-controller="Home" asp-action="UNIVERSITY_TOWN"> University town</a>are situated at only kilometers from the sector.
                            </p>
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-12">
                            <h2 class="font-weight-bold" style="color:gold">Total Area</h2>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12">
                            <p class="text-justify" style="font-size:20px">
                                Multi Gardens was launched in 2004 in CDA sector of Islamabad spreading over an area of more than 16000 Kanal of Margalla Hills.
                                The B-17 Islamabad society consists of areas earmarked for the sectors, namely A-17, B-17, and B-18.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ml-3 recentposts">
                    <div class="row">
                        <div class="col-12 text-center text-white " style="background-color: #ffa700">
                            <h3>SOCIAL FOLLOWERS</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center text-white" style="background-color: black">
                            <div class="row mt-5">
                                <div class="col-2">
                                </div>
                                <div class="col-3 ml-4" style="background-color: #3b5998; border-radius: 10%">
                                    <span class="pt-2" style="display:block">
                                        <i style="font-size:38px" class="fab fa-facebook-f apsc-facebook pt-2" aria-hidden="true"></i>
                                    </span>
                                    <span class="pt-2 pb-0 m-0">
                                        80.6k  <br /> <span style="font-size:11px">Fans</span>
                                    </span>
                                </div>
                                <div class="col-3 ml-5" style="background-color:red;border-radius:10%">
                                    <span class="pt-5">
                                        <i style="font-size:38px" class="apsc-youtube fab fa-youtube pt-2" aria-hidden="true"></i>
                                    </span>

                                    <span class="pt-2 pb-0 m-0">91.5k <br /><span style="font-size:11px">Subscribers</span></span>
                                </div>
                                <div class="col-2">
                                </div>
                            </div>
                            <div class="row mt-5 mb-5">
                                <div class="col-2">
                                </div>
                                <div class="col-3 ml-4" style="background-color: #3f729b; border-radius: 10%">
                                    <span class="pt-5">
                                        <i style="font-size:38px" class="apsc-instagram fab fa-instagram pt-2" a1ia-hidden="true"></i>
                                    </span>
                                    <span class="pt-2 pb-0 m-0">80.6k<br /><span style="font-size:11px">Followers</span></span>
                                </div>

                                <div class="col-3 ml-5" style="background-color: #00acee; border-radius: 10%">
                                    <span class="pt-5">
                                        <i style="font-size:38px" class="fab fa-twitter apsc-twitter pt-2" aria-hidden="true"></i>
                                    </span>
                                    <span class="pt-2 pb-0 m-0">91.5k<br /><span style="font-size:11px">Followers</span></span>
                                </div>
                                <div class="col-2">
                                </div>
                            </div>
                        </div>
                    </div>
                    @*************************************************************************************************************************@
                    <div class="row mt-3">
                        <div class="col-12 recentposts" style="background-color:black">

                            @*<div class="col-xl-6 offset-2 col-lg-4 offset-2 col-md-4 offset-2 col-sm-10 offset-2 col-10 offset-2 bg-dark pt-2 mt-5">*@
                            <h1 class="text-center mt-2 pt-5" style="font-size:20px;color:white;font-weight:bold">
                                For <span style="color:gold"> DISCOUNT</span>
                                Booking<br />& General Inquiries
                            </h1>
                            <form class="" method="post" id="formvalidation">
                                <div class="form-group pt-3">
                                    <input type="text" id="name" class="form-control"
                                           placeholder="Full Name" data-val-required="Please enter the name" required />
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group pt-3">
                                    <input id="phone" type="number" class="form-control"
                                           placeholder="Contact Number" required />
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group pt-3">
                                    <input type="email" id="email" class="form-control"
                                           placeholder="Email" data-val-required="Email" required />
                                    <span class="text-danger"></span>
                                </div>
                                <span class="form-group">
                                    <button type="submit" id="conatctUsbtn" class="btn w-100 h-30 btn-lg text-center mt-3 mb-3"
                                            style="background-color: #f0aa0c;color: white;font-weight:bold">
                                        Submit
                                    </button>
                                </span>
                            </form>
                        </div>
                    </div>
                    @**************************************************************************************************************************@

                    <div class="row mt-4 ">
                        <div class="col-12 recentposts" style="background-color:black">
                            <div class="row">
                                <div class="col-12">
                                    <h1 class="text-center pt-5" style="font-size:20px;color:white;font-weight:bold">
                                        <span style="color:gold">Best Housing</span>
                                        Project for Investment in 2021?
                                    </h1>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <input class="mt-4" type="radio" id="radioCapitalSmartCity" name="Best_society" value="Capital Smart City">
                                    <label for="radioCapitalSmartCity" class="text-white">Capital Smart City</label><br>
                                    <input class="mt-4" type="radio" id="radioBlueWorldCity" name="Best_society" value="Blue World City">
                                    <label for="radioBlueWorldCity" class="text-white">Blue World City</label><br>
                                    <input class="mt-4" type="radio" id="radioParkViewCity" name="Best_society" value="Park View City">
                                    <label for="radioParkViewCity" class="text-white">Park View City</label><br>
                                    <input class="mt-4" type="radio" id="radioUniversityTown" name="Best_society" value="University Town">
                                    <label for="radioUniversityTown" class="text-white">University Town</label><br>
                                    <input class="mt-4" type="radio" id="radioICHSTown" name="Best_society" value="ICHS Town">
                                    <label for="radioICHSTown" class="text-white">ICHS Town</label><br>
                                    <input class="mt-4" type="radio" id="radioFaisalHills" name="Best_society" value="Faisal Hills">
                                    <label for="radioFaisalHills" class="text-white">Faisal Hills</label><br>
                                </div>
                            </div>
                            <div class="row mt-5 ml-5 pl-5 mb-3">
                                <button type="submit" id="Votebtn" class="btn w-50 h-30 btn-lg text-center mt-4 mb-2"
                                        style="background-color: #f0aa0c;color: white;font-weight:bold">
                                    Vote
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="col-12">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="font-weight-bold" style="color:gold">Access Points</h2>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <p class="text-justify mt-2" style="font-size:20px">
                                The project can be accessed from the Main GT road that goes towards Peshawar. It has two gates, A & B situated on the main road.
                            </p>
                            <p class="text-justify mt-2" style="font-size:20px">
                                Designated interchange from Islamabad- Peshawar Motorway (M 1) to G block of this venture has also been
                                approved from FWO and will be constructed soon. Furthermore, an expressway is also under
                                consideration that will touch the F-10 sector of Islamabad. This signal free road of about
                                9 km will ensure the quickest travel route from society to Islamabad.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h2 class="font-weight-bold" style="color:gold">Map of B-17 Islamabad</h2>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <p class="text-justify mt-2" style="font-size:20px">
                                The Map of the sector is attached below for your better understanding of the project.
                                It is the largest schemes of MPCHS area with a masterpiece layout plan.
                            </p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-10 offset-1">
                            <img class="card-img-top" src="~/images/b-17-islamabad-MAP.jpg" style="border:2px solid gold" />
                        </div>
                    </div>

                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ml-3 recentposts">

                    <div class="row ">
                        <div class="col-12 pt-3 text-center text-white" style="background-color: #ffa700">
                            <h4>RECENT POSTS</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10 text-center text-white" style="background-color: white">
                            <div class="row mt-5">
                                <div class="col-4">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">
                                        <img src="~/images/Recent_posts Wapda-Town-Lahore.jpg" alt="HTML tutorial">
                                    </a>
                                </div>
                                <div class="col-8 pt-5">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">Wapda Town Lahore</a>
                                    <p style="color:black">July 16, 2021</p>

                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-4">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">
                                        <img src="~/images/Recent_posts Satellite-Town-Bahawalpur.jpg" alt="HTML tutorial">
                                    </a>
                                </div>
                                <div class="col-8 pt-5">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">Satellite Town Bahawalpur</a>
                                    <p style="color:black">July 16, 2021</p>

                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-4">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">
                                        <img src="~/images/Recent_posts Mahmoodabad-Faisalabad.jpg" alt="HTML tutorial">
                                    </a>
                                </div>
                                <div class="col-8 pt-5">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">Mahmoodabad Faisalabad</a>
                                    <p style="color:black">July 16, 2021</p>

                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-4">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">
                                        <img src="~/images/Recent_posts Jubilee-Town-Lahore.jpg" alt="HTML tutorial">
                                    </a>
                                </div>
                                <div class="col-8 pt-5">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">Jubilee Town Lahore</a>
                                    <p style="color:black">July 16, 2021</p>

                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-4">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">
                                        <img src="~/images/Recent_posts Gulshan-e-Iqbal-Faisalabad.jpg" alt="HTML tutorial">
                                    </a>
                                </div>
                                <div class="col-8 pt-5">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">Gulshan e Iqbal Faisalabad</a>
                                    <p style="color:black">July 16, 2021</p>

                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-4">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">
                                        <img src="~/images/Recent_posts Gulshan-e-Iqbal-Faisalabad.jpg" alt="HTML tutorial">
                                    </a>
                                </div>
                                <div class="col-8 pt-5">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">Gulshan e Iqbal Faisalabad</a>
                                    <p style="color:black">July 16, 2021</p>

                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-4">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">
                                        <img src="~/images/Recent_posts Gulshan-e-Iqbal-Faisalabad.jpg" alt="HTML tutorial">
                                    </a>
                                </div>
                                <div class="col-8 pt-5">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">Gulshan e Iqbal Faisalabad</a>
                                    <p style="color:black">July 16, 2021</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">B17 Multi Gardens NOC:</h2>
                    <p class="text-justify" style="font-size:20px">
                        B-17 is a CDA issued no objection certification (NOC) to MPCHS for sector B-17 on 30th January 2018;
                        it also has NOC issued by Federal Directorate of Education for the construction of schools in the society.
                        The<a style=" color:#2ea3f2;text-decoration:none" href="https://www.cda.gov.pk/housing/society.asp?varId=6"> details of the NOC</a>
                        &nbsp; of this housing
                        scheme can be verified from the official website of CDA.
                        of this housing scheme can be verified from the official website of CDA.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Facilities:</h2>
                    <p class="text-justify" style="font-size:20px">
                        The housing project facilitates its occupants with world-class amenities, modern architecture, and secure environment to raise a family.
                        Some of the few facilities in Multi Garden b-17 Islamabad are listed as follows:
                    </p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> 24/7 Water</p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> Underground electricity & Sui gas</p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> Mosque, Community center, Sport Clubs</p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> Medical center</p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> Police station</p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> Lake</p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> Water Filtration plant</p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> Playground, Parks, Jogging tracks</p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> Hotels & Commercial center</p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> Recreational centers</p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> Shopping malls & Food Street</p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> Fuel Filling station</p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> Schools/colleges & Universities</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Project Details:</h2>
                    <p class="text-justify" style="font-size:20px">
                        The total area of B-17 Multi gardens society is around 16000 and is spread over the sectors
                        A 18, B-17& B-18. The whole area is divided into blocks A, B, C, D, E, F & G
                        and offers 5,8,10 Marla and 1 & 2 Kanal residential and commercial plots in different blocks of the society.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Maps of the block in B17:</h2>
                    <p class="text-justify" style="font-size:20px">
                        We are attaching the master plan maps of each block down below for you to get a better understanding of all the areas of this sector.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-10 offset-1">
                    <img class="card-img-top" src="~/images/Multi-Gardens-b17-Islamabad-MAP.jpg" style="border:2px solid gold" />
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">B-17 Islamabad Prices</h2>
                    <p class="text-justify" style="font-size:20px">
                        Different plot sizes are available in A, B, C, D& Eon resale but the F block of the society offers
                        four years installment plan, and the prices are increased by 20% due to the ongoing profit rates in the market.
                        Though the plots in the society have already been sold out, the new payment plan is the
                        revision of prices that will apply to any new blocks issued by the society officials.
                        The society has increased the payment period for old bookings by lowering the installment amounts.
                        The plot files in blocks are available for booking.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The price ranges available in different blocks of B-17 Islamabad are listed below:
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1">
                    <img class="card-img-top" src="~/images/B17-Islamabad-01.jpg" style="border:2px solid gold" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Development Work:</h2>
                    <p class="text-justify" style="font-size:20px">
                        The recent development in the housing society has caught the attention of many in the region.
                        The project is almost developed with about 700-800 houses already been constructed and is occupied.
                        There is an extensive network of carpeted roads connecting all the blocks of the society.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The development work in Block A, B, C, D, E &F has been completed, with people residing in them. Block G is the newest block in the society,
                        and the development work has not yet started in the area only a limited no. Of files are available for booking on a first-come-first-serve basis.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The balloting in MPCHS has always been held after a time duration of two installments,
                        and the same was expected for the newest G Block. The second installment of the said block was due in January 2019.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The society has left no stone unturned in the development work and has provided out-class infrastructure to attract more people towards it.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Investment Perspective in MPCHS:</h2>
                    <p class="text-justify" style="font-size:20px">
                        In terms of investment, the society offers a great opportunity, and all the blocks can be considered
                        for a good return on investment. However, we advise you to invest in the newly launched blocks as the prices
                        are relatively low in those areas and have immense potential in terms of development. G Block is the most suitable option if you are on a budget,
                        the prices are incredibly affordable and available on installments.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The society has immense potential in terms of profit margin.
                        If your budget is a little higher the best option for you is to invest
                        in the F block, the plots are available on installments and possession is granted immediately.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        As you can see from the above figure, the price index of 5 Marla plots has risen in a matter of months,
                        even in the rough market situation of the real estate industry in 2019. The society is a promising one
                        and will yield high profits on investment in a limited amount of time.
                        The prices in this society are similar to those offered in Park View City and Taj Residencia,
                        but the value of this project is far more secure and profitable.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1">
                    <img class="card-img-top" src="~/images/b17-Multi-Gardens-Islamabad-Prices-.jpg" style="border:2px solid gold" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Pros And Cons to invest in B-17 Multi-Gardens :</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1">
                    <img class="card-img-top" src="~/images/Pros-Cons-B17-Multigardens-Islamabad.jpg" style="border:2px solid gold" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-12">

            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">How to Book your Plot in B 17:</h2>
                    <p class="text-justify" style="font-size:20px">
                        You can easily book your plot in B-17 by contacting
                        <a style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Index">Blue Reef Properties.</a> You can reach us at
                        051- 848777 or visit our head office at  2nd floor, AA Plaza, Jinnah Avenue, Blue Area, Islamabad.
                        We will make sure to find the best property according to your requirement in the lowest prices offered in the market.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Why Invest in B-17 Multi-Gardens?</h2>
                    <p class="text-justify" style="font-size:20px">
                        Multi-Professional Co-operative Housing Society is one of the most successful housing projects in CDA sector of Islamabad.
                        The investment opportunities are endless in the society, and it is suitable for long as well as short
                        term investment due to its excellent location, feasibility, quality of development, and high-profit margin.
                        Let us discuss a few key points as to why it is an excellent option to invest in multi-gardens.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Safe investment</h2>
                    <p class="text-justify" style="font-size:20px">
                        The rapid activity in the project has been successful in grabbing the attention of investors and
                        has become one of the most reliable avenues to invest in. The CDA sectors are a
                        risk-free investment due to approved NOC and no legal complications. Due to these factors,
                        the place has gained a lot of attention of both buyers
                        and sellers that are genuinely interested in doing business in the project.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Location</h2>
                    <p class="text-justify" style="font-size:20px">

                        Location is the most key-selling point of this housing society just like
                        <a class="" style="color:#2ea3f2;text-decoration:none" asp-area="" asp-controller="Projects" asp-action="SMART_CITY_ISLAMABAD">
                            Capital Smart City
                        </a>,
                        the society has been granted approval of designated interchange from FWO directly from Islamabad-Peshawar Motorway.
                        It exactly lies between the interchanges of Islamabad-Lahore Motorway and GT Road.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        It also touches the Margalla Road from one side, which part of the road that surrounds New Islamabad International Airport.
                        The location is an essential feature that genuine buyers look
                        into before they decide where to invest or keep for residential purpose; this society presents a fantastic opportunity.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The investors estimate about the returns they will get and in how much time while the ones interested in setting up residence consider
                        factors such as facilities, whether or not school, colleges, hospitals & markets are in close by or if the housing society
                        will be at a short travel distance from their workplace.
                        All of these factors are offered by this housing society and makes this project an ideal destination for investors and home buyers.
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Quality Development</h2>
                    <p class="text-justify" style="font-size:20px">
                        Another essential variable involved in society is its rapid and high-end development work.
                        The management of the housing society is adamant about providing an excellence-driven development in a limited time.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The housing society is equipped with all necessary facilities such as water,
                        electricity, and gas as well as all the remaining modern amenities that add value to this auspicious housing project.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Reasonable Prices</h2>
                    <p class="text-justify" style="font-size:20px">
                        With factors discussed above demand for property, the sector increased immensely and with that so have the prices. Since the last year,
                        the prices in the region have risen due to which more genuine investors got interested in the project.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The newly launched G block is the most active in the sector due to the scope of development,
                        attractive location, and initial price competitiveness.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Compatible Plot Sizes</h2>
                    <p class="text-justify" style="font-size:20px">
                        The easily tradable 5-marla and 7-marla plot options in the sector are the most popular and in demand.
                        Both these plot sizes are appropriate sized plots for investment and for building a house for the family.
                        For commercial 40×50 and 40×60 plot sizes are the most sought out.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">How to transfer plot in MPCHS?</h2>
                    <p class="text-justify" style="font-size:20px">
                        You can conveniently transfer the files of plots in the sector from one owner to another.
                        You can easily visit the main head office of the society is situated in the G-8 sector and get ownership of your plot.
                        For a minimal transfer fee and consent from both parties, you can get your plot transferred the same day.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="font-weight-bolder" style="color:gold">FAQs MPCHS ISLAMABAD</h2>
                            <p class="text-justify" style="font-size:20px">
                                We are answering most frequently searched questions about B 17 sector down below
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h3 class="font-weight-bolder" style="color:gold">Q- Who is the owner of B-17 Multi-Gardens?</h3>
                            <p class="text-justify" style="font-size:20px">
                                Answer- B 17 is a project of Multi Professionals Co-operative Housing Society (MPCHS).
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h3 class="font-weight-bolder" style="color:gold"> Q- What are other projects completed by MPCHS? </h3>
                            <p class="text-justify" style="font-size:20px">
                                Answer- Apart from this, MPCHS has successfully launched and completed the following projects in Islamabad:
                            </p>
                            <p class="text-justify" style="font-size:20px">
                                <i class="far fa-check-circle" style="color:gold"></i>Islamabad Gardens situated in the CDA sector E-11/1 & E-11/3
                            </p>
                            <p class="text-justify" style="font-size:20px">
                                <i class="far fa-check-circle" style="color:gold"></i>Tele Gardens located in F-17 sector in Islamabad
                            </p>
                            <p class="text-justify" style="font-size:20px">
                                <i class="far fa-check-circle" style="color:gold"></i>
                                Multi Residencia & Orchards which is a Farm Housing Project
                            </p>
                        </div>
                    </div>



                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ml-3 recentposts " style="background-color:black">
                    @*<div class="row mt-3">
                        <div class="col-12 recentposts" >*@

                    @*<div class="col-xl-6 offset-2 col-lg-4 offset-2 col-md-4 offset-2 col-sm-10 offset-2 col-10 offset-2 bg-dark pt-2 mt-5">*@
                    <h1 class="text-center mt-2 pt-3" style="font-size:20px;color:white;font-weight:bold">
                        For <span style="color:gold"> DISCOUNT</span>
                        Booking<br />& General Inquiries
                    </h1>
                    <form class="" method="post" id="formvalidation">
                        <div class="form-group pt-5">
                            <input type="text" id="name" class="form-control"
                                   placeholder="Full Name" data-val-required="Please enter the name" required />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group pt-5">
                            <input id="phone" type="number" class="form-control"
                                   placeholder="Contact Number" required />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group pt-5">
                            <input type="email" id="email" class="form-control"
                                   placeholder="Email" data-val-required="Email" required />
                            <span class="text-danger"></span>
                        </div>
                        <span class="form-group">
                            <button type="submit" id="conatctUsbtn" class="btn w-100 h-30 btn-lg text-center mt-5 mb-5"
                                    style="background-color: #f0aa0c;color: white;font-weight:bold">
                                Send
                            </button>
                        </span>
                    </form>
                    @*</div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">
                        Q- How much is the total area of this society?
                    </h3>
                    <p class="text-justify" style="font-size:20px">
                        Answer- The society covers over an area of more than 16000 Kanal on A-17, B-17 and B-18 sectors of Islamabad.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">
                        Q- What is the exact location?
                    </h3>
                    <p class="text-justify" style="font-size:20px">
                        Answer- It is situated in Zone II of Islamabad Capital Territory on A-17, B-17 and B-18 sectors.
                        The society lies between GT Road and Peshawar- Islamabad motorway (M-1).
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">
                        Q- What are the access points of society?
                    </h3>
                    <p class="text-justify" style="font-size:20px">
                        Answer- The society can be accessed from the GT road, and in a few months
                        it will be given access from the Islamabad- Peshawar Motorway via a designated interchange.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">
                        Q-What is the NOC situation?
                    </h3>
                    <p class="text-justify" style="font-size:20px">
                        Answer- The society is a risk-free as it is a CDA sector, and there are no complications of NOC.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">
                        Q-Does the society have water, electricity, and gas connections?
                    </h3>
                    <p class="text-justify" style="font-size:20px">
                        Answer-The society is equipped with all the major and minor facilities, including water, gas, and electricity supply.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">
                        Q-What landmarks are present nearby this society?
                    </h3>
                    <p class="text-justify" style="font-size:20px">
                        Answer-The society is situated at a few minutes from Islamabad International Airport, Islamabad- Peshawar Motorway (M1).
                        Society is also located at only a few minutes from the housing societies such as
                        <a class="" style="color:#2ea3f2;text-decoration:none" asp-area="" asp-controller="Projects" asp-action="SMART_CITY_ISLAMABAD">
                            Capital Smart City,
                        </a>Eighteen Islamabad, Top City,
                        <a class="" style="color:#2ea3f2;text-decoration:none" asp-area="" asp-controller="Projects" asp-action="ICHS_TOWN">ICHS TOWN,</a>
                        and Mumtaz city.
                        <a class="" style="color:#2ea3f2;text-decoration:none" asp-area="" asp-controller="Projects" asp-action="ICHS_TOWN">Taj Residencia</a>
                        Taj Residencia is also located on the opposite side of this project.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">
                        Q-What are the residential plot sizes available?
                    </h3>
                    <p class="text-justify" style="font-size:20px">
                        Answer- The society offers 5,8,10 Marla and 1 & 2 Kanal residential and commercial plots in different blocks.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">
                        Q-Are there any commercial plots?
                    </h3>
                    <p class="text-justify" style="font-size:20px">
                        Answer- 1 central commercial zone and 3-4 mini commercial areas are included in the society that offers a variety of standard plot sizes.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">
                        Q-What will be the return on investment?
                    </h3>
                    <p class="text-justify" style="font-size:20px">
                        Answer: Due to the quality of development, attractive location, and the price competitiveness,
                        this housing venture has immense potential following an investment point of view. The price index is highly efficient and encouraging,
                        so it presents an ideal opportunity for the investors to gain maximum return on investment.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">
                        Q-Is society good for long term investment or short term investment?
                    </h3>
                    <p class="text-justify" style="font-size:20px">
                        Answer- The society is an excellent opportunity for short term and long term investment.
                        For short term investment the blocks where possession is granted is a good option, while for the long term investment,
                        the newly launched blocks G & F where there is a significant scope of development should be considered to gain maximum return on investment.
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">
                        Q-Is there any installment plan?
                    </h3>
                    <p class="text-justify" style="font-size:20px">
                        Answer-Yes the society offers an easy installment, however, most of the plots in the blocks where possession
                        has been granted have been booked and now are only available on resale with few installments already paid on profit.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">
                        Q-How can we book plot in this project?
                    </h3>
                    <p class="text-justify" style="font-size:20px">
                        Answer- It is effortless to book your plot in MPCHS all you have to do is Contact Us, and we will guide you through the whole process
                        of purchasing your dream property not just in this sector but all the popular housing options located in Islamabad and Rawalpindi cities.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">
                        Q- How can we transfer plots in B-17?
                    </h3>
                    <p class="text-justify" style="font-size:20px">
                        Answer-To transfers your plot in B-17 both parties will be required to visit the head office of
                        MPCHS located in G-8 Sector of Islamabad. After the minimal transfer
                        fee is paid and both the parties have given their consent, the plot will be transferred from
                        one owner’s name to the new owner of the plot.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">
                        Q- Is there any special discount offered?
                    </h3>
                    <p class="text-justify" style="font-size:20px">
                        Answer- Unfortunately there are no special offers or any discounts offered by the management.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Conclusion</h2>
                    <p class="text-justify" style="font-size:20px">
                        Although the society has been introduced since 2004, its development, however, was not up to
                        the mark but recently the officials have taken a keen interest in its development and have
                        delivered an excellent project to its residents. Due to the current pace of development,
                        beautiful location, and upscale facilities, the investments in B-17 Islamabad has led to
                        good profits for its investors. It is an ideal society to live and invest in. Although most of the plots have sold out in society,
                        it is a good idea to keep a close eye on every investment opportunity, as this society is a guaranteed success.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        To book your plot in B-17 Contact Us today and get the best deals in the market.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>