
@{
    ViewData["Title"] = "PARK_VIEW_CITY";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<body class="body-content">
    <section class="page" style="background-image: url(/images/Park-View-City-1-1.jpg); ">
        <div class="auto-container pt-5 mt-5">
            <h1 style="color:gold;font-weight:bolder;font-size:70px">PARK VIEW CITY</h1>
        </div>
    </section>
    <div class="container mt-5">
        <div class="col-12">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-danger">content table</button>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <h2 class="font-weight-bold" style="color:gold">Introduction:</h2>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <p class="text-justify" style="font-size:20px">
                                Park View City is a CDA Approved, beautiful residential project by Vision Group in the zone IV of Islamabad.
                                The housing society has 400 ft wide Main Boulevard which grants direct access from highway into the society,
                                furthermore you can also get access via Kurri Road and Banigala.
                                This housing venture is popular among the investors due to its scenic views and high-end facilities.
                            </p>
                            <p class="text-justify" style="font-size:20px">
                                It is planned to provide a perfect place for families who want to live in a family-friendly
                                neighborhood and a secure place with futuristic vision and exquisite views.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h2 class="font-weight-bold" style="color:gold">Park View City Owner:</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="text-justify" style="font-size:20px">
                                Designed by modern architecture and technology by Vision Group, Park View city has become one
                                of the most sought out housing societies in Islamabad.
                                Vision group is owned by Aleem khan, a senior & active member of PTI. This is the first project of Vision Group in Islamabad.
                            </p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12">
                            <h2 class="font-weight-bold" style="color:gold">Vision Group:</h2>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12">
                            <p class="text-justify" style="font-size:20px">
                                Vision group was founded in 2012 and since then has accomplished unprecedented real estate projects. In less than a decade,
                                Vision Group has aced the real estate industry in Pakistan
                                and established itself as one of the most reliable and trustworthy developing groups in the region.
                            </p>
                            <p class="text-justify font-weight-bold" style="font-size:20px">
                                Park view by Vision Group is an initiative striving for excellence by being one of the most exuberant housing projects in the surrounding.
                            </p>
                            <p class="text-justify" style="font-size:20px">
                                The company aims to create a luxurious living through various construction and urban landscape projects in cosmopolitan cities.
                                Vision group features elegant aesthetics and modern functionality in the elements of
                                their projects that make for convenient and lavish living.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ml-3 recentposts">
                    <div class="row">
                        <div class="col-12 text-center text-white " style="background-color: #ffa700">
                            <h3>SOCIAL FOLLOWERS</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center text-white" style=" ">
                            <div class="row mt-3">
                                <div class="col-2">
                                </div>
                                <div class="col-3 ml-4" style="background-color: #3b5998; border-radius: 10%">
                                    <span class="pt-2" style="display:block">
                                        <i style="font-size:38px" class="fab fa-facebook-f apsc-facebook pt-2" aria-hidden="true"></i>
                                    </span>
                                    <span class="pt-2 pb-0 m-0">
                                        80.6k  <br /> <span style="font-size:11px">Fans</span>
                                    </span>
                                </div>
                                <div class="col-3 ml-5" style="background-color:red;border-radius:10%">
                                    <span class="pt-5">
                                        <i style="font-size:38px" class="apsc-youtube fab fa-youtube pt-2" aria-hidden="true"></i>
                                    </span>

                                    <span class="pt-2 pb-0 m-0">91.5k <br /><span style="font-size:11px">Subscribers</span></span>
                                </div>
                                <div class="col-2">
                                </div>
                            </div>
                            <div class="row mt-5 mb-5">
                                <div class="col-2">
                                </div>
                                <div class="col-3 ml-4" style="background-color: #3f729b; border-radius: 10%">
                                    <span class="pt-5">
                                        <i style="font-size:38px" class="apsc-instagram fab fa-instagram pt-2" a1ia-hidden="true"></i>
                                    </span>
                                    <span class="pt-2 pb-0 m-0">80.6k<br /><span style="font-size:11px">Followers</span></span>
                                </div>

                                <div class="col-3 ml-5" style="background-color: #00acee; border-radius: 10%">
                                    <span class="pt-5">
                                        <i style="font-size:38px" class="fab fa-twitter apsc-twitter pt-2" aria-hidden="true"></i>
                                    </span>
                                    <span class="pt-2 pb-0 m-0">91.5k<br /><span style="font-size:11px">Followers</span></span>
                                </div>
                                <div class="col-2">
                                </div>
                            </div>
                        </div>
                    </div>
                    @*************************************************************************************************************************@
                    <div class="row mt-5">
                        <div class="col-12 recentposts" style="background-color:black">

                            @*<div class="col-xl-6 offset-2 col-lg-4 offset-2 col-md-4 offset-2 col-sm-10 offset-2 col-10 offset-2 bg-dark pt-2 mt-5">*@
                            <h1 class="text-center mt-2 pt-2" style="font-size:20px;color:white;font-weight:bold">
                                For <span style="color:gold"> DISCOUNT</span>
                                Booking<br />& General Inquiries
                            </h1>
                            <form class="" method="post" id="formvalidation">
                                <div class="form-group pt-3">
                                    <input type="text" id="name" class="form-control"
                                           placeholder="Full Name" data-val-required="Please enter the name" required />
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group pt-3">
                                    <input id="phone" type="number" class="form-control"
                                           placeholder="Contact Number" required />
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group pt-3">
                                    <input type="email" id="email" class="form-control"
                                           placeholder="Email" data-val-required="Email" required />
                                    <span class="text-danger"></span>
                                </div>
                                <span class="form-group">
                                    <button type="submit" id="conatctUsbtn" class="btn w-100 h-30 btn-lg text-center mt-3 mb-3"
                                            style="background-color: #f0aa0c;color: white;font-weight:bold">
                                        Submit
                                    </button>
                                </span>
                            </form>
                        </div>
                    </div>
                    @**************************************************************************************************************************@

                    <div class="row mt-4 ">
                        <div class="col-12 recentposts" style="background-color:black">
                            <div class="row pt-5">
                                <div class="col-12">
                                    <h1 class="text-center mt-2" style="font-size:20px;color:white;font-weight:bold">
                                        <span style="color:gold">Best Housing</span>
                                        Project for Investment in 2021?
                                    </h1>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <input class="mt-4" type="radio" id="radioCapitalSmartCity" name="Best_society" value="Capital Smart City">
                                    <label for="radioCapitalSmartCity" class="text-white">Capital Smart City</label><br>
                                    <input class="mt-4" type="radio" id="radioBlueWorldCity" name="Best_society" value="Blue World City">
                                    <label for="radioBlueWorldCity" class="text-white">Blue World City</label><br>
                                    <input class="mt-4" type="radio" id="radioParkViewCity" name="Best_society" value="Park View City">
                                    <label for="radioParkViewCity" class="text-white">Park View City</label><br>
                                    <input class="mt-4" type="radio" id="radioUniversityTown" name="Best_society" value="University Town">
                                    <label for="radioUniversityTown" class="text-white">University Town</label><br>
                                    <input class="mt-4" type="radio" id="radioICHSTown" name="Best_society" value="ICHS Town">
                                    <label for="radioICHSTown" class="text-white">ICHS Town</label><br>
                                    <input class="mt-4" type="radio" id="radioFaisalHills" name="Best_society" value="Faisal Hills">
                                    <label for="radioFaisalHills" class="text-white">Faisal Hills</label><br>
                                </div>
                            </div>
                            <div class="row mt-5 ml-5 pl-5 mb-3">
                                <button type="submit" id="Votebtn" class="btn w-50 h-30 btn-lg text-center mt-4 mb-2"
                                        style="background-color: #f0aa0c;color: white;font-weight:bold">
                                    Vote
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="col-12">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="font-weight-bold" style="color:gold">Projects By Vision Group:</h2>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12">
                            <p class="text-justify mt-2" style="font-size:20px">
                                The vision group executed several successful projects with great finesse and architectural masterpieces in major cities of Pakistan.
                                Following is the list of the unparalleled projects by Vision Group
                            </p>
                            <p class="text-justify mt-3" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> Abdul Aleem Khan Foundation</p>
                            <p class="text-justify" style="font-size:20px">
                                <i class="far fa-check-circle" style="color:gold"></i>
                                PARK View Icon located at I.I.Chundrigar road-karachi
                            </p>
                            <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> Park View City in Islamabad</p>
                            <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> PARK View Corporate Center at Mall road-lahore</p>
                            <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> Park View Signature Apartments at Gulberg-lahore</p>
                            <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> The National School</p>
                            <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> Park view villas at multan road-lahore</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h2 class="font-weight-bold" style="color:gold">Mauza:</h2>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12">
                            <p class="text-justify mt-2" style="font-size:20px">
                                The mauza (old name) of this magnificent housing scheme is Malot.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h2 class="font-weight-bold" style="color:gold">Access Roads:</h2>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12">
                            <p class="text-justify mt-2" style="font-size:20px">
                                Park View City Islamabad can be accessed via main
                                Jinnah Avenue from the Malot Road or the 200 feet wide main access road,
                                whose access has directly given to the society from Kurri Road by CDA.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ml-3 recentposts">

                    <div class="row ">
                        <div class="col-12 pt-3 text-center text-white" style="background-color: #ffa700">
                            <h4>RECENT POSTS</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10 text-center text-white" style="background-color: white">
                            <div class="row mt-3">
                                <div class="col-4">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">
                                        <img src="~/images/Recent_posts Wapda-Town-Lahore.jpg" alt="HTML tutorial">
                                    </a>
                                </div>
                                <div class="col-8 pt-5">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">Wapda Town Lahore</a>
                                    <p style="color:black">July 16, 2021</p>

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-4">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">
                                        <img src="~/images/Recent_posts Satellite-Town-Bahawalpur.jpg" alt="HTML tutorial">
                                    </a>
                                </div>
                                <div class="col-8 pt-5">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">Satellite Town Bahawalpur</a>
                                    <p style="color:black">July 16, 2021</p>

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-4">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">
                                        <img src="~/images/Recent_posts Mahmoodabad-Faisalabad.jpg" alt="HTML tutorial">
                                    </a>
                                </div>
                                <div class="col-8 pt-5">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">Mahmoodabad Faisalabad</a>
                                    <p style="color:black">July 16, 2021</p>

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-4">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">
                                        <img src="~/images/Recent_posts Jubilee-Town-Lahore.jpg" alt="HTML tutorial">
                                    </a>
                                </div>
                                <div class="col-8 pt-5">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">Jubilee Town Lahore</a>
                                    <p style="color:black">July 16, 2021</p>

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-4">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">
                                        <img src="~/images/Recent_posts Gulshan-e-Iqbal-Faisalabad.jpg" alt="HTML tutorial">
                                    </a>
                                </div>
                                <div class="col-8 pt-5">
                                    <a class="" style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area=""
                                       asp-controller="Home" asp-action="Index">Gulshan e Iqbal Faisalabad</a>
                                    <p style="color:black">July 16, 2021</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Permissions And NOC:</h2>
                    <p class="text-justify" style="font-size:20px">
                        The <span class="font-weight-bold"> No Objection Certificate (NOC)</span> of Park View City Islamabad will
                        soon be <span class="font-weight-bold"> approved</span> by
                        <a style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area="" asp-controller="Home" asp-action="SMART_CITY_ISLAMABAD">
                            Capital Development Authority (CDA)
                        </a>
                        and developers are putting their full legal efforts to get the approved status.
                        Becoming legal is very important for any housing society because that will grant the society the status of a legal and approved residential area.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Total Area And Location:</h2>
                    <p class="text-justify" style="font-size:20px">
                        Stretched across the land of 7000 Kanal with over several residential and commercial blocks, the society holds attraction to all norms of society.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        It is situated near Bahria Enclave surrounded by lush green surroundings of
                        Bani Gala with the most mesmerizing sceneries, 15 minutes away from the main Islamabad city, this society is the epitome of luxury and tranquility.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        Park View City Islamabad is located in the middle of Botanical Garden with serene views.
                        Our main entrance is from Rawal Chowk side and our gate 2 can give you access from Bhara Kahu,
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The Park View City Islamabad location is such that it is close to all the major destinations of
                        the main city yet away from all the scrutiny of noise and pollution, making it an excellent choice to make your permanent residence.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The project is located on Malot Road with easy access from Kurri Road, 200ft
                        wide road has been approved by the CDA to make way for the mega project.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Park View City Islamabad Map:</h2>
                    <p class="text-justify" style="font-size:20px">
                        As you can see from the map, Park view City is ideally located opposite to
                        <a style="color: #2ea3f2; font-size: 18px; text-decoration: none;" asp-area="" asp-controller="Home" asp-action="SMART_CITY_ISLAMABAD">
                            Bahria Enclave
                        </a> at only 15
                        mins drive from Serena Hotel Islamabad, a 5-minute drive from Bahria Enclave and Bani Gala and an only
                        1-minute walk to the lush green botanical Garden.
                        It is situated at 8 km drive from Chak Shahzad through the Park Road & the Kuri Road via the route
                        from Kashmir Highway, Lehtrar Road & Islamabad Highway.
                    </p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 pt-5">
                    <img class="card-img-top" src="~/images/Park-view-city-Map.jpg" style="border:2px solid gold" />
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Features And Amenities:</h2>
                    <p class="text-justify" style="font-size:20px">
                        Park view city is an impeccable housing society with unmatched facilities and immaculate vision.
                        Each block of the society is planned with a unique perspective and functionality to provide its residents an exalting living.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Imax Cinemas</h2>
                    <p class="text-justify" style="font-size:20px">
                        Park view City will be a paragon of luxury and entertainment, the Cinemas with IMAX and 3 D technology will provide you with an unimaginable cinematic experience.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Commercial Walk</h2>
                    <p class="text-justify" style="font-size:20px">
                        Commercial zones including the biggest brands name in the retail will cater to all your needs,
                        while giving you an ultimate enjoyable and convenient shopping experience.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Zoo And Parks</h2>
                    <p class="text-justify" style="font-size:20px">
                        The zoos, parks and other fun activities are also included in the plan of the society to provide with elements of enjoyment for all the ages.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Club & Community Center</h2>
                    <p class="text-justify" style="font-size:20px">
                        The club and community center in the society will give a chance to the residents to enjoy a variety of indoor
                        and outdoor sports including bowling, swimming pools, snooker, cricket, tennis and golf.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Hospitals</h2>
                    <p class="text-justify" style="font-size:20px">
                        A huge specially designed hospital will be constructed in the society to facilitate
                        healthy issues with modern day equipment and latest technology
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Schools</h2>
                    <p class="text-justify" style="font-size:20px">
                        The incorporation of best Schools and educational institutions will be setup in
                        the society offering the best curriculum in proximity to the residential blocks so they are easily accessible and at a minimum distance.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The Vision group has decided to establish a newest branch of National School in Park View City which will operate under
                        the Abdul Aleem Khan Foundation owned by the Vision Group among other well-known educational facilities.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Mosque</h2>
                    <p class="text-justify" style="font-size:20px">
                        To look after the religious values and significance beautiful mosques will be part of this extraordinary housing scheme.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Gated Community</h2>
                    <p class="text-justify" style="font-size:20px">
                        Park view City is a secure and a fully gated neighborhood surrounded by a boundary wall covering all
                        the sides of the project. The neighboring societies of Park View are not entirely covered this extensively while
                        this society has even barricaded the side that is nearby the national forest area.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">24/7 Electricity, Gas and Water</h2>
                    <p class="text-justify" style="font-size:20px">
                        Availability of electricity, water and gas is a precedence in park view Islamabad and will be supplied in all parts of the society 24 hrs.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        Park View City is superior to the remaining societies in the region as it is naturally blessed with
                        natural resources among these the presence of underground water is of utmost importance.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The water is available at only under 50 feet of the ground and Gumrah River passing through its
                        region also ensures sufficient supply of the water in the society.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The plan of each house in the society includes to have an underground built water storage
                        tanker to store the abundance of rainwater received in the area.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The society also has a plan in motion to build its own Dam for collection and usage of the water,
                        the work on this dam has already commenced in the society.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Load Shedding Free Zone</h2>
                    <p class="text-justify" style="font-size:20px">
                        To make the society a load shedding free zone the construction work commenced on
                        the water dam will also include an electric power plant in order to ensure the abundance of electric supply in the society.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="col-12">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="font-weight-bold" style="color:gold">Underground Supply of Electricity</h2>
                            <p class="text-justify" style="font-size:20px">
                                All the electric work in the society is planned underground to control the Power
                                outages Underground wires are much safer and make an aesthetically pleasing feature in the society.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h2 class="font-weight-bold" style="color:gold">24/7 Surveillance</h2>
                            <p class="text-justify" style="font-size:20px">
                                The society takes the security of its residents very seriously and to ensure that a network of CCTV cameras
                                are installed throughout the society.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h3 class="font-weight-bold" style="color:gold">Modern Infrastructure And Elegant Housing Plan</h3>
                            <p class="text-justify" style="font-size:20px">
                                Taking advantage of the lush green natural surroundings of Park View City Islamabad, this project promises to be one the landmarks
                                in the making, High-rise buildings, modern infrastructure and its elegant housing plan will add to its appeal.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ml-3 recentposts " style="background-color:black">
                    <h1 class="text-center mt-2 pt-5 mt-5" style="font-size:20px;color:white;font-weight:bold">
                        For <span style="color:gold"> DISCOUNT</span>
                        Booking<br />& General Inquiries
                    </h1>
                    <form class="" method="post" id="formvalidation">
                        <div class="form-group pt-5">
                            <input type="text" id="name" class="form-control"
                                   placeholder="Full Name" data-val-required="Please enter the name" required />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group pt-5">
                            <input id="phone" type="number" class="form-control"
                                   placeholder="Contact Number" required />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group pt-5">
                            <input type="email" id="email" class="form-control"
                                   placeholder="Email" data-val-required="Email" required />
                            <span class="text-danger"></span>
                        </div>
                        <span class="form-group">
                            <button type="submit" id="conatctUsbtn" class="btn w-100 h-30 btn-lg text-center mt-5 mb-5"
                                    style="background-color: #f0aa0c;color: white;font-weight:bold">
                                Send
                            </button>
                        </span>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">State-Of- Art Development</h2>
                    <p class="text-justify" style="font-size:20px">
                        With the greatest craftsmanship and the most majestic development, Park View city will be a landmark of modern civilization in Pakistan.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Park View City Apartments</h2>
                    <p class="text-justify" style="font-size:20px">
                        With the incorporation of park view city apartments in the society not only will the residents
                        enjoy an upscale modern life but also raise a standard of living. These luxury apartments will be fully equipped with fitness center,
                        swimming pools, laundry facilities, convenience store and much more on the premises of these apartments.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Botanical Garden</h2>
                    <p class="text-justify" style="font-size:20px">
                        A Botanical Garden in the midst of Park View housing society makes it superior than other societies in its region.
                        Not only will this Botanical Garden enhance the natural beauty of the project but will also increase add to fertility of its soil.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The greenhouse will incorporate a huge assortment of plants, garden herbs and unique plants from around the globe.
                        There will be nurseries and green houses to grow and cultivate extraordinary tropical plants and
                        flowers in the society. An organic food market will also be formed in
                        the society to provide organic fruits and vegetables so the occupants of this society can enjoy a healthy lifestyle.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bold" style="color:gold">Master Plan Map Of Park View City:</h2>
                    <p class="text-justify" style="font-size:20px">
                        The location of the blocks in the society can be viewed on the following map of the master plan of the whole society:
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1">
                    <img class="card-img-top" src="~/images/sky-1.jpg" style="border:2px solid gold" />
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bold" style="color:gold">Project Details:</h2>
                    <p class="text-justify" style="font-size:20px">
                        The Park View City is divided into different alphabetical blocks consisting of commercial and residential blocks.
                        An extension block “J” has also been launched in the society by the management in the recent balloting event
                        held at premises of society. Blocks A, B, F, J and K consists of 5 Marla plots while 10-marla plots are offered in the Blocks A, B, F, H and I.
                        1-kanal plots are available in Blocks B, C, E, F, N and M and Blocks D and P offer 2-kanal plots in the society.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-12">
                            <p class="text-justify" style="font-size:20px">
                                Park View City is currently offering 2 Year payment plan on following sizes.
                            </p>
                            <h2 class="font-weight-bold" style="color:gold">Residential Plot Sizes:</h2>
                            <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> 5 Marla (26”x 50”)</p>
                            <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> 8 Marla (30”x60”)</p>
                            <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> 10 Marla (35”x70”)</p>
                            <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> 1 Kanal (50”x90”)</p>
                            <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> 2 Kanal (75”x120”)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h2 class="font-weight-bold" style="color:gold">Commercial Plot Sizes:</h2>
                            <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> 6 Marla (35”x40”)</p>
                            <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> 8 Marla (40”x45”)</p>
                        </div>
                    </div>


                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 pt-5 mt-5">
                    <iframe width="420" height="315" src="https://www.youtube.com/embed/6f17za_CaXI" title="YouTube video player"
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="text-justify" style="font-size:20px">
                        Booking of the above mentioned plots in park view housing society starts from 20% down payment,
                        while the rest of payable amount is to be paid in 8 equal quarterly installments spanned over a time of 2 years.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bold" style="color:gold">Park view city Payment Plans:</h3>
                    <p class="text-justify" style="font-size:20px">
                        The Payment plan of Residential and Commercial plots in the society are attached below:
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bold" style="color:gold">Park View City Commercial-Downtown Payment Plan: </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1">
                    <img class="card-img-top" src="~/images/Park-View-City-03.jpg" style="border:2px solid gold" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bold" style="color:gold">Park view city A & B Installments:</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1">
                    <img class="card-img-top" src="~/images/Park-View-City-01-1.jpg" style="border:2px solid gold" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bold" style="color:gold">Park view city Terrace C Block:</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1">
                    <img class="card-img-top" src="~/images/Park-View-City-06.jpg" style="border:2px solid gold" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bold" style="color:gold">Park view city C, D & E Block:</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1">
                    <img class="card-img-top" src="~/images/Park-View-City-05.jpg" style="border:2px solid gold" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bold" style="color:gold">Park view city F Block: </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1">
                    <img class="card-img-top" src="~/images/Park-View-City-07.jpg" style="border:2px solid gold" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bold" style="color:gold">Park view city H Block:</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1">
                    <img class="card-img-top" src="~/images/Park-View-City-02.jpg" style="border:2px solid gold" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bold" style="color:gold">Park view city J Block Payment plan:</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1">
                    <img class="card-img-top" src="~/images/Park-View-City-09.jpg" style="border:2px solid gold" />
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bold" style="color:gold">Category Plots:</h2>
                    <p class="text-justify" style="font-size:20px">
                        The category plots in the society such as Corner, Park Facing, and the
                        plots located on Main Boulevard of the society are priced 10% higher than that of the regular plot prices proposed by the society.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bold" style="color:gold">Discounted Price:</h2>
                    <p class="text-justify" style="font-size:20px">
                        The society is offering a reduction of 5% of the total price of the plot on the lump-sum payment. Which means that
                        if you are buying any plot in Park View City on full payment without availing the installment
                        plan attached above, the society will offer you a 5% discount.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bold" style="color:gold">Price Comparison:</h2>
                    <p class="text-justify" style="font-size:20px">
                        Despite the fact that cost of the plots in this society is viewed as somewhat higher compared to
                        other housing societies such as University town and Lahore Smart City to a few people but are definitely much lower
                        than societies located in the CDA sectors of Islamabad an housing societies like
                        B-17 and ICHS, it will definitely be worth it in the end.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Park view city Islamabad overseas block</h2>
                    <p class="text-justify" style="font-size:20px">
                        Park view city is a charismatic housing project that has covered the needs of everyone,
                        from residential and commercial properties to classic apartments to
                        Park View City Islamabad Villas and now the latest addition to this esteemed project is Park View City Islamabad Overseas Block.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The Overseas Block will be launched soon in the grand project and rest assured it will
                        fulfill all the requirements of international standard housings. The block is specially designed by the planners with the incorporation
                        of most advanced technology and amenities to provide an exquisite living experience for the overseas Pakistanis.

                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The need was felt to introduce this particular block on the requisition of overseas Pakistani’s
                        who are seeking an identity, recognition and a safe place to invest in Pakistan.
                        The overseas block in Park View City does not only provide grand residences but also
                        a variety of business opportunities as well. The properties in this block will be of added value and high in demand.
                        The success of this block can easily be predicted from the trend seen in the Overseas Block of Capital Smart City and Blue world City Islamabad.
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Location of park view city overseas block:</h2>
                    <p class="text-justify" style="font-size:20px">
                        The location of the overseas block in Park view city is at the most prime area in
                        Park View City near Gate 1. The block is placed near the commercial
                        downtown of the project and will offer its residents fruitful investment apart from an elite living.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Amenities:</h2>
                    <p class="text-justify" style="font-size:20px">
                        Apart from the beautiful location the overseas block will cater to the needs of all members of society.
                        The block will have the following amenities included in its plan
                    </p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> 24/7 Supply of Electricity, Gas and Water</p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> State of the art waste disposal system</p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> CCTV Security , Guards and Motion censors</p>
                    <p class="text-justify" style="font-size:20px">
                        <i class="far fa-check-circle" style="color:gold"></i>
                        Parks, Playgrounds and beautifully designed green areas
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        <i class="far fa-check-circle" style="color:gold"></i>
                        Shopping malls, restaurants and Entertainment centers
                    </p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> Sports complex</p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> Health centers and Educational Facilities</p>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Park view city overseas block payment plan</h2>
                    <p class="text-justify" style="font-size:20px">
                        Initially the Overseas block offers 5 Marla and 10 Marla Residential plots with an initial 3-year installment plan for its residents.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The payment plan of Park View City Overseas block is attached as under for your convenience:
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1">
                    <img class="card-img-top" src="~/images/Park-View-City-08-1-1.jpg" style="border:2px solid gold" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">How to book your plot in overseas block?</h2>
                    <p class="text-justify" style="font-size:20px">
                        The prices offered in Overseas Block are introductory and will be available
                        on a 3-year easy installment. In order to book your plot contact Sky Marketing with the following documents.
                    </p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> Copy of your CNIC</p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> Copy of your CNIC of your next to kin</p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> 2 passport size photographs</p>
                    <p class="text-justify" style="font-size:20px">
                        The exact location of the overseas block will be revealed in a month or two, however the investment in this block
                        is the most beneficial and fruitful at this time. The plots are available on the lowest prices and the scope of
                        development is immense. If you are looking to invest your savings at a place that is secure
                        and will provide you with a safe environment for your loved ones then Overseas Block in Park View City is the most suitable for you.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Ongoing Market trend and Price Index</h2>
                    <p class="text-justify" style="font-size:20px">
                        The demand for prices in Park View City has been consistent for a while. The majority of people who
                        have purchased the plots in society are mostly end-users and have invested in society for residential purposes rather than investment.
                        The alluring location, amenities, and the prices offered all constitute to the popularity of the project.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-10 offset-1">
                            <img class="card-img-top" src="~/images/Park-View-City-Islamabad.jpg" style="border:2px solid gold" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="text-justify" style="font-size:20px">
                        Two years ago 5 Marla price was nearly 43 Lac which got revised in 6 months, a significant rise of 7 to 8 lac was observed,
                        since then the prices are rising up along with the development work.
                        The latest price demanded for a 5 Marla residential plot today is around PKR 57-58 lac.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The demand for 5 Marla and 10 Marla residential plots and 6 Marla commercial plots is higher due to the easy tradable sizes of these properties.
                        1 Kanal plots have also shown great potential as the buyers prefer a spacious plot size for a house.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Possession:</h2>
                    <p class="text-justify" style="font-size:20px">
                        Possessions of the initial blocks where the construction work has already begun have been announced by
                        the officials of this society in the recent balloting event.
                        The society will be fully developed within the next 2 years and the possession of the remaining
                        plots will also be granted to the investors in the same time frame.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The society is currently offering new bookings for a limited time only, so investors are encouraged to
                        avail of this once in a lifetime investment opportunity and benefit from it. This housing scheme is
                        not only suitable for investment, but also its secure residential and commercial location is
                        an ideal place for you and your loved ones to live and work at.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Park View City Development:</h2>
                    <p class="text-justify" style="font-size:20px">
                        The management of the esteemed society is aiming to speed up the developing process to deliver the
                        project ahead of its proposed time to its investors.
                        The development work in Block A & B has almost been completed and the earthwork around the surrounding areas of these blocks has begun.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        A water treatment plant will also be set up soon in A-block shortly to ensure the supply of clean water to its inhabitants.
                        The water will be filtered, recycled and supplied to all parts of the block through this treatment plant.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The main entrance of the society has already been completed with a majestic main gate and the road leading the pathway
                        in the alluring society. The land in this society is naturally rich and agricultural with an abundance of
                        natural green sceneries so the leveling and plotting of the land do not require any major alternation.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The society is looking in much better shape now that the work on the main entrance gate of Park View has
                        completed and construction work on the main 200-foot wide road has initiated and is expected to be completed
                        in a few months. This 2-kilometer long road is being constructed after the authorization from CDA and it will gain direct access from Kurri Road.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Park View City Balloting:</h2>
                    <p class="text-justify" style="font-size:20px">
                        The balloting and possession of plots in Park View City Islamabad commenced on 24th March 2019 in the premises
                        of Park View Housing society for the eligible plots after the clearance of outstanding dues.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The event was attended by the notable personalities of the society and the authorized dealers of this esteemed project.
                        Plot numbers were assigned to of 5 marlas, 8 marlas, 10 marlas, 1 Kanal and 2 Kanal plot files booked in the extension blocks in the society.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The balloting was done via a fair computerized process for the investors who had paid their installments and dues on time.
                        Within a week the official documents comprising of the assigned plot no. and details were sent to the respective owners of the plot.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">Pros And Cons On Park View City:</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped" style="font-size:30px">
                        <thead>
                            <tr>
                                <th scope="col">Pros:</th>
                                <th scope="col">Cons:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ideal Location</td>
                                <td>Prices are considered higher</td>

                            </tr>
                            <tr>
                                <td>No litigation Concerns regarding NOC or permissions</td>
                                <td>-</td>

                            </tr>
                            <tr>
                                <td>All basic and modern amenities provided</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Peaceful Environment</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Pollution free zone</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Great return on investment</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Development happening in fast pace</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Water traces are present 50ft under the ground</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Society will be a load shedding free zone with its own power plant</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">
                        Things to Consider before purchasing a plot in Park View City
                    </h2>
                    <p class="text-justify" style="font-size:20px">
                        We advise you to follow this 3 step process before you purchase your plot in society.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">Step 1: Always verify the documents including the NOC</h3>
                    <p class="text-justify" style="font-size:20px">
                        Buying a plot is a big deal, and it is always to verify all the paperwork before a huge investment.
                        Make sure to thoroughly check all the required documents from 
                        the Capital Development Authority (CDA) and permissions from the relative departments 
                        to make sure you are investing in a legally secure project.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">Step 2: Get your Finances in Order</h3>
                    <p class="text-justify" style="font-size:20px">
                        Before making a hasty decision, check your affordability and make sure that
                        you are taking all the costs involved in purchasing a property in
                        consideration including the transfer fee, membership fee, property cost, 
                        development charges, survey fee and the commission of your real estate agent.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">Step 3: Site Visit and Structural Survey</h3>
                    <p class="text-justify" style="font-size:20px">
                        A visit to the site of the Park View City is highly recommended to the potential
                        buyers as land inspection is highly important. You must familiarize 
                        yourself with the area and know about the property you are investing
                        your capital. Even if you are purchasing a plot file without the possession or balloting, 
                        it is still essential that you visit the project yourself and only proceed if you are completely satisfied with the place.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">How To Book Your Plot In Park View City Islamabad?</h2>
                    <p class="text-justify" style="font-size:20px">
                        You can easily book your plot in the Park View society through Sky Marketing. You can Contact us or visit the
                        office with the following documents which will be required from you at the time of the booking:
                    </p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> ID card Copy of the applicant</p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> ID card Copy of your Nominee or next to kin</p>
                    <p class="text-justify" style="font-size:20px"><i class="far fa-check-circle" style="color:gold"></i> Passport size picture</p>
                    <p class="text-justify" style="font-size:20px">
                        <i class="far fa-check-circle" style="color:gold"></i>
                        20% Down payment in form of Cash/Pay Order/Cross- Cheque in favor of Park View Enclave (Pvt) Limited.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1">
                    <img class="card-img-top" src="~/images/Park-View-City-Booking-Procedure.jpg" style="border:2px solid gold" />
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bolder" style="color:gold">FAQs About Park View City</h2>
                    <p class="text-justify" style="font-size:20px">We are answering the most frequently asked questions about the Park View City Islamabad as follows:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">What is Park View City?</h3>
                    <p class="text-justify" style="font-size:20px">Park View City is an elegant and opulent Housing Scheme in Islamabad, Pakistan.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">Where is Park View City Located?</h3>
                    <p class="text-justify" style="font-size:20px">
                        Park View City is ideally located in zone IV on Malot Road near Bahria Enclave in the Capital city of Pakistan, Islamabad.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">Who is the Owner of Park View City?</h3>
                    <p class="text-justify" style="font-size:20px">
                        This innovated housing society is a project of Vision Group. Vision group is owned by Aleem Khan, a senior member of PTI.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">Is Park View City Islamabad Legal?</h3>
                    <p class="text-justify" style="font-size:20px">
                        Park view City is totally legal housing scheme with NOC and planning permission approved from CDA.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">What Plot sizes are available in Park View?</h3>
                    <p class="text-justify" style="font-size:20px">
                        You can book 5, 8, 10 Marla and 1 & 2 Kanal residential Plots and 6 & 8 Marla Commercial plots in the society.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">Does the Park View City has an instalment plan?</h3>
                    <p class="text-justify" style="font-size:20px"> Yes the society is offering 2 year easy instalment plan for the convenience of its investors.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold"> When will be the possession of plots in Park View City given?</h3>
                    <p class="text-justify" style="font-size:20px">
                        The possession of plots in the developed blocks of the society is granted to its investors and for the remaining blocks
                        the possession will be granted after the balloting.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">Which facilities will the society provide?</h3>
                    <p class="text-justify" style="font-size:20px">
                        The housing society will provide all the basic and modern facilities to its residents including water,
                        gas, electricity, security, hospitals, schools, shopping zones, sports and fitness centers, botanical garden, cinemas and much more.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">When will the construction work of Main Boulevard begin?</h3>
                    <p class="text-justify" style="font-size:20px">
                        The construction work of the Main Boulevard has commenced already and a 200 ft. wide road is
                        being built from Kurri Road to the society to make a beautiful carpeted pathway through the main gate to inside of the society.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">How much profit will I get on my investment in Park View City and when?</h3>
                    <p class="text-justify" style="font-size:20px">
                        Park View City is one of the most sought out and supreme housing societies in the area, it is an
                        excellent investment opportunity for people seeking for good return on their investment in a short period of time.
                        With speedy development and modern infrastructure, the prices and the value of the properties in
                        the society will rise and give its investors a fruitful ROI.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">When will the plot be transferred to my name after the booking?</h3>
                    <p class="text-justify" style="font-size:20px">
                        The society will issue you a transfer letter after the clearance of the dues in one to two days.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">
                        Can Overseas Pakistani’s book a plot in Park View City Islamabad?
                    </h3>
                    <p class="text-justify" style="font-size:20px">
                        Yes it is a very good opportunity for the overseas Pakistanis to invest in the society and they can do
                        so by sitting at their homes. Sky Marketing is offering its clients online services through
                        which you can book your plot in Park View City from abroad.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">What is the procedure of transfer of plot in this society?</h3>
                    <p class="text-justify" style="font-size:20px">
                        The plot transfer procedure is rather unusual in Park View City as it cannot be done through the regular
                        transfer and registry method. It is carried out through the society’s transfer office with total transparency.
                        You can visit the Park View City Islamabad office in Blue Area for any transfers.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">
                        How soon will the society have all the facilities?
                    </h3>
                    <p class="text-justify" style="font-size:20px">
                        The society is working on setting up all the public amenities in the project so the residents can start
                        benefiting from them. A branch of National School in Park View City is currently under construction;
                        a mosque has also been built, while the construction work on hospital is also ongoing.
                        We are hopeful that within the next few months, the society will be fully developed and
                        residents will be able to enjoy a comfortable life in its midst.
                    </p>
                    <p class="text-justify" style="font-size:20px">
                        The demand for prices in Park View City has been consistent for a while. The majority of people who
                        have purchased the plots in society are mostly end-users and have invested in society for residential
                        purposes rather than investment. The alluring location, amenities, and the prices offered all constitute to the popularity of the project.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">
                        Why Park View City is highly priced compared to other societies?
                    </h3>
                    <p class="text-justify" style="font-size:20px">
                        Considering the location, NOC the amenities the society is offering its investors, Park View City
                        is not that expensive. It also provides with an easy 2 years long instalment plan so you can pay off
                        the price of your plot easily. You can also apply for the home loan from the banks as the society is CDA approved and has no litigation concerns.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bolder" style="color:gold">How can I book my plot in Park View City?</h3>
                    <p class="text-justify" style="font-size:20px">
                        You can easily book your plot in the society by contacting us today or visiting Sky Marketing office, you can also call us at 051-848 77 77.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h2 class="font-weight-bolder" style="color:gold">Conclusion:</h2>
                        <p class="text-justify" style="font-size:20px">
                            The overview of society is astounding and after its fruitful execution, Park View will
                            be one of the best social orders in Islamabad. All things considered,
                            Park View appears to be a decent venture opportunity for both investors and the ones who want to reside in it.
                        </p>
                        <p class="text-justify" style="font-size:20px">
                            Some of the banks such as Silk Bank and Bank Al-Falah are providing home financing schemes
                            for the investors looking to get home loans on easy terms in Park View City as the CDA approval is granted to this society,
                            we would advise you to avail this opportunity and book yourself a secure place in an astounding new project.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>