<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blue Reef Real Estate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/blureef.jpg" style="border-radius: 75px" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light   m-0 navbar-fixed-top mr-0" style="background-color:#000000;font-size:16px">
            <img src="~/images/blureef.jpg" class=" w-5 h-5" />
            <button style="background-color:white" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav flex-grow-1 float-right">
                    <li class="nav-item">
                        <a class="nav-link ml-3 mt-1" style="color:white" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                    </li>
@*                     <li class="nav-item">
                        <a class="nav-link ml-3 mt-1" style="color:white" asp-area="" asp-controller="Home" asp-action="Blog">BLOG</a>
                    </li> *@
                    <li class="nav-item">
                        <a class="nav-link ml-3 mt-1" style="color:white" asp-area="" asp-controller="Home" asp-action="Videos">VIDEOS</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle ml-3 mt-1" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false" style="color:white">
                            PROJECTS
                        </a>
                        <div class="dropdown-menu zoom" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item navserviceshover" asp-area="" asp-controller="Projects" asp-action="LAHORE_SMART_CITY">LAHORE SMART CITY</a>
                            <a class="dropdown-item navserviceshover" asp-area="" asp-controller="Projects" asp-action="SMART_CITY_ISLAMABAD">CAPITAL SMART CITY <br /> ISLAMABAD</a>
                            <a class="dropdown-item navserviceshover" asp-area="" asp-controller="Projects" asp-action="PARK_VIEW_CITY">PARK VIEW CITY</a>
                            <a class="dropdown-item navserviceshover" asp-area="" asp-controller="Projects" asp-action="BLUE_WORLD_CITY">BLUE WORLD CITY</a>
                            <a class="dropdown-item navserviceshover" asp-area="" asp-controller="Projects" asp-action="UNIVERSITY_TOWN">UNIVERSITY TOWN</a>
                            <a class="dropdown-item navserviceshover" asp-area="" asp-controller="Projects" asp-action="B17_MULTIGARDENS">B17 MULTIGARDENS</a>
                            <a class="dropdown-item navserviceshover" asp-area="" asp-controller="Projects" asp-action="ICHS_TOWN">ICHS TOWN</a>

                        </div>
                    </li>
                    <li>
                        <a class="nav-link ml-3  mt-1 " style="color:white" asp-area="" asp-controller="Home" asp-action="Offers">OFFERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ml-3  mt-1" style="color:white" asp-area="" asp-controller="Home" asp-action="Reviews">REVIEWS</a>
                    </li>@* 
                    <li class="nav-item">
                        <a class="nav-link ml-3  mt-1" style="color:white" asp-area="" asp-controller="Home" asp-action="ContactUS">CONTACT</a>
                    </li> *@
                </ul>
            </div>
        </nav>

    </header>

    <div class="container-fluid  p-0 m-0">
        <main role="main" class="pb-3">
            @RenderBody()

            <span class="btn" id="btnwhatsapp">
                <a id="btnwhatsapp" class="whatsapp" href="https://web.whatsapp.com/send?phone=923007568106&text=https://www.triesolutions.com"
            target="_blank" style="background-color:#25D366"><i class="fab fa-whatsapp"></i></a>
                @*<i id="btnwhatsapp" class="fab fa-whatsapp" data-toggle="modal1" data-target="#whatsappbtn"></i>*@
            </span>






            <button onclick="topFunction()" id="mybtngohome" title="Go to top">
                <i class="fas fa-chevron-up"></i>
            </button>
        </main>
    </div>
    <!-- Site footer -->
    <footer class="site-footer text-white" style="background-color: #000000">
        <div class="container">
            <div class="row">
                <div class="col-xl-4  col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="font-weight-bold" style="color:#f0aa0c">HEAD OFFICE</h2>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-2">
                            <i class="fas fa-map-marker-alt" style="font-size:35px;color:white"></i>
                        </div>
                        <div class="col-10">
                            <p class="text-justify testfontsize">
                                2nd Floor AA Plaza
                                Jinnah Avenue ,Blue Area, Islamabad
                            </p>
                        </div>
                    </div>
                    <div class="row pt-5 ">
                        <div class="col-2">
                            <i class="far fa-phone fa-rotate-90" style="font-size:35px;color:white"></i>
                        </div>
                        <div class="col-10">
                            <p class="text-justify testfontsize">
                                (051) 848-7777
                            </p>
                        </div>
                    </div>
                    <div class="row pt-5 ">
                        <div class="col-12">
                            <h2 class="font-weight-bold" style="color:white">REGIONAL OFFICE</h2>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-2">
                            <i class="fas fa-map-marker-alt" style="font-size:35px;color:white"></i>
                        </div>
                        <div class="col-10">
                            <p class="text-justify testfontsize">
                                Office No. 2, First Floor Block C,
                                JB Tower, University Road
                                Peshawar, Pakistan
                            </p>
                        </div>
                    </div>
                    <div class="row pt-5 ">
                        <div class="col-2">
                            <i class="far fa-phone fa-rotate-90" style="font-size:35px;color:white"></i>
                        </div>
                        <div class="col-10">
                            <p class="text-justify testfontsize">
                                (091) 7257777
                            </p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-2">
                            <i class="fas fa-map-marker-alt" style="font-size:35px;color:white"></i>
                        </div>
                        <div class="col-10">
                            <p class="text-justify testfontsize">
                                Office No. 3, 2nd Floor Mega Tower 63b,
                                Main Boulevard Gulberg 2 Near McDonald’s Lahore, Punjab, Pakistan
                            </p>
                        </div>
                    </div>
                    <div class="row pt-5 ">
                        <div class="col-2">
                            <i class="far fa-phone fa-rotate-90" style="font-size:35px;color:white"></i>
                        </div>
                        <div class="col-10">
                            <p class="text-justify testfontsize">
                                (042) 35777453
                            </p>
                        </div>
                    </div>
                    <div class="row pt-5 ">
                        <div class="col-2">
                            <i class="far fa-envelope" style="font-size:35px;color:white"></i>
                        </div>
                        <div class="col-10">
                            <p class="text-justify testfontsize">
                                info@skymarketing.com.pk
                            </p>
                        </div>
                    </div>


                </div>
                <div class="col-xl-4  col-lg-4 col-md-4 col-sm-12 col-12">
                    <h2 class="font-weight-bold" style="color:#f0aa0c">BOOKINGS</h2>
                    <hr />
                    <h4>Blue World City Booking</h4>
                    <h4>Capital Smart City Booking</h4>
                    <h4>Park View City Booking</h4>
                    <h4>University Town Islamabad Booking</h4>
                    <h4>ICHS Town Booking</h4>
                    <div class="row">
                        <h2>QUICK LINKS</h2>
                    </div>
                    <hr />
                    <ul class="footer-links">
                        <li> <a asp-area="" asp-controller="Home" asp-action="Aboutus">About Us</a></li>
                        <li> <a asp-area="" asp-controller="Home" asp-action="ContactUS">Career</a></li>
                        <li> <a asp-area="" asp-controller="Home" asp-action="CustomSoftwareDevelopment">Blog</a></li>
                        <li> <a asp-area="" asp-controller="Home" asp-action="Products">News</a></li>
                        <li> <a asp-area="" asp-controller="Home" asp-action="Aboutus">Contact Us</a></li>
                        <li> <a asp-area="" asp-controller="Home" asp-action="ContactUS">Terms & Services</a></li>
                    </ul>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="font-weight-bold LayoutServices" style="color:#f0aa0c">PROJECTS</h2>
                            <hr />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">

                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="PARK_VIEW_CITY">Park View City</a>
                        </div>
                        <div class="col-6">

                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="SMART_CITY_ISLAMABAD">Capital Smart City</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="BLUE_WORLD_CITY">Blue World City</a>
                        </div>
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="UNIVERSITY_TOWN">University Town</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="ICHS_TOWN">ICHS</a>
                        </div>
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="BAHRIA_ENCLAVE">Bahria Enclave</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="GULBERG_GREENS">Gulberg Greens</a>
                        </div>
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="QURTABA_CITY">Qurtaba City</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="Faisal_Margalla">Faisal Margalla City</a>
                        </div>
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="TAJ_RESIDENCIA">Taj Residencia</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">

                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="EighteenIslamabad">Eighteen Islamabad</a>
                        </div>
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="Park_View_Villas">Park View Villas</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="Mall_Islamabad">Mall of Islamabad</a>

                        </div>
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="PECHS_Islamabad">PECHS Islamabad</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="LAHORE_SMART_CITY">Lahore Smart City</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="Bahria_Greens_Karachi">Bahria Town Karachi</a>
                        </div>
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="Al_Noor_Orchard">Al-Noor Orchard Lahore</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="Rudn_Enclave_Rawalpindi">Rudn Enclave Rawalpindi</a>
                        </div>
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="B17_MULTIGARDENS">B17 MULTI GARDENS</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="Blue_Town_Sapphire">Blue Town Sapphire Lahore</a>
                        </div>
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="Overseas_Prime_Block_Capital_Smart">Overseas Prime Block Capital Smart City</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="Faisal_Hills">Faisal Hills Islamabad</a>
                        </div>
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="Nova_City_Islamabad">Nova City Islamabad</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="Park_View_City_Lahore">Park View City Lahore</a>
                        </div>
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="Bahria_Town_Peshawar">Bahria Town Peshawar</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="Discovery_Gardens_Islamabad">Discovery Gardens Islamabad</a>
                        </div>
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="Bahria_Agro_Farm_Houses_Islamabad">Bahria Agro Farm Houses Islamabad</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Projects" asp-action="Bahria_Greens_Karachi">Bahria Greens Karachi</a>
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <h3>DHA</h3>
                            <hr />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="DHA" asp-action="DHA_Valley_Islamabad">DHA Islamabad</a>
                        </div>
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="DHA" asp-action="DHA_Peshawar">DHA Peshawar</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="DHA" asp-action="DHA_Karachi">DHA Karachi</a>
                        </div>
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="DHA" asp-action="DHA_Gujranwala">DHA Gujranwala</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="DHA" asp-action="DHA_Multan">DHA Multan</a>
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <h3>OVERSEAS BLOCK</h3>
                            <hr />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a class="" style="color: white; font-size: 18px; text-decoration: none;"
                               asp-area="" asp-controller="Overseas_Block" asp-action="Capital_Smart_City_Islamabad_Overseas_Block">Capital smart city overseas Block</a>
                        </div>
                        <div class="col-6">
                            <a class="" style="color: white; font-size: 18px; text-decoration: none;"
                               asp-area="" asp-controller="Overseas_Block" asp-action="Park_View_City_Islamabad_Overseas_Block">Park view City Overseas Block</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a class="" style="color: white; font-size:18px; text-decoration: none;"
                               asp-area="" asp-controller="Overseas_Block" asp-action="Blue_World_City_Islamabad_Overseas_Block">Blue World City Overseas Block</a>
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text testfontsize">
                        &copy; 2019 - BLUE REFF PROPERTIES,All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)*@


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script>
        function toggleDropdown(e) {
            const _d = $(e.target).closest('.dropdown'),
                _m = $('.dropdown-menu', _d);
            setTimeout(function () {
                const shouldOpen = e.type !== 'click' && _d.is(':hover');
                _m.toggleClass('show', shouldOpen);
                _d.toggleClass('show', shouldOpen);
                $('[data-toggle="dropdown"]', _d).attr('aria-expanded', shouldOpen);
            }, e.type === 'mouseleave' ? 300 : 0);
        }
        $('body')
            .on('mouseenter mouseleave', '.dropdown', toggleDropdown)
            .on('click', '.dropdown-menu a', toggleDropdown);

        //scroll Top
        var mybutton = document.getElementById("mybtngohome");
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            //    document.body.scrollTop = 0;
            //    document.documentElement.scrollTop = 0;
            $('html, body').animate({ scrollTop: 0 }, 'slow');
        }
        </script>
</body >
</html >